* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
/* #bbbdbe */

body {
    background-color: #fff;
    color: #6d6e70;
    
    justify-content: center;
    font-family: 'Raleway', sans-serif; 
    overflow-x: hidden;
    
}

a {
    text-decoration: none;
    color: #6d6e70;
}

ul {
    list-style: none;
}



.title-primary {
    color: #919193;
    font-size: 1.8rem;
    justify-self: center;
    padding-bottom: 2rem;
}

/* hidden class */

.hidden {
    opacity: 0;
    position: absolute;
    transform: translateX(-200%);
    transition: all .4s ease-in;
}

/* header section */

.heading {
    color: #919193;
    font-family: 'Raleway', sans-serif;    
    display: grid;
    justify-content: center;
    text-align: center;
    
}

.name {
    font-family: 'Playfair Display SC', serif;
    font-size: 2.5rem;
    user-select: none;
    margin: 1rem;
    padding: 1rem;
}



.sections-wrapper ul{
    padding: .5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.sections-wrapper ul li {
    cursor: pointer;
    transition: color .4s ease;
    margin: 0 .5rem;
    font-size: 2rem;
}

 .active {
    color: #111111;
}

.sections-wrapper ul li:hover {
    color: #111111;
    transition: color .4s ease;
}



/* about section */

.about-section {
    transition: all .4s ease-in;
    display: grid;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    padding: 1rem;
    z-index: 1;
}


.picture-wrapper img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.about-contact-wrapper {
    align-items: center;
}

@media (min-width: 600px) {
    .about-contact-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.email p {
    font-size: 1.2rem;
    margin: 1.5rem;
    font-weight: 600;
}

.email a {
    display: block;
    
    margin: 1.5rem;
}

.social-media p {
    font-size: 1.2rem;
    
    font-weight: 600;
    
    margin: 1.5rem;
}

.social-media a {
    display: block;
    margin: 1.5rem;
}

.about-details-wrapper p {
    margin: 1.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
}

/* music section */

.music-section {
    display: grid;
    transition: all .4s ease-in;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    padding: 1rem;
    
}



.albums-wrapper {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

.album-name {
    margin-bottom: .5rem;
    font-size: 1.5rem; 
}

.album-img-wrapper {
    position: relative;
}

.album-title {
    position: absolute;
    width: 30%;
    bottom: 60%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #111111;
    font-size: .9rem;
    text-align: center;
    font-family: 'Special Elite', cursive;
}

.listen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #111111;
    font-size: 1rem;
    font-weight: 600;
    opacity: 0;
    transition: opacity .3s ease;
    cursor: pointer;
    
}

.album:hover .listen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #111111;
    font-size: 1rem;
    font-weight: 600;
    opacity: 1;
    transition: opacity .3s ease;
    
}

.album-img-wrapper img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* art secrion */

.art-section {
    display: grid;
    transition: all .4s ease-in;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    padding: 1rem;
    
}

.art-section p{
    margin-bottom: .5rem;
}

.art-section-wrapper {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-gap: 1rem;

}


.art-project-name {
    margin-bottom: .5rem;
    font-size: 1.5rem;    
}
.art-img-wrapper img {
    width: 100%;
    max-width: 100%;
    height: auto;
    cursor: pointer;
}